
.header {
    display: block;
    margin: 0;

    &__top-bar{
        display: block;
        align-items: center;
        height: 120px;
        font-weight: bold;
    }

    &__logo{
        width: 60px;
        height: 60px;
    }

    &__menu{
        display: flex;
        flex-flow: row;
        list-style-type: none;
    }

    &__icon{
        margin: 0;
    }
        &__inner{
            color: #58468c;
            text-decoration: none;
        }
        &:hover{
            color: tomato;
        }
}