/* ************************* Hero-bar ************************************************** */

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-image: url(/public/image/197.png);
    height: 350px;
}
/* hero content */
.hero__content{

}
.hero__title{
    color: white;
}
.hero__text{
    color: white;
}
/* hero button */
.hero__btn{
    
}
.hero__btn > button {
    border-radius: 30px;
}

/* ********************* taget************************************************************ */

.taget {
    padding: 0;
}

/* taget icon */
.taget__icon{
    padding: 0;
    width: 30px;
}
.taget__icon > i {
    font-size: 30px;
    color: #5580ff;
}

/* taget content */
.taget__content {}
.taget__content > h3{
    color: #58468c;
}
.taget__desc > p {
    color: #716c80;
}

/* ************************* fact *********************************************************** */

.fact{}
.fact-item{}
.fact-item__title{
    position: relative;
}
.fact-item__progress-bar{}
.fact-item__img{
    margin-left: 50px;
    width: 400px;
}

/* img{
    width: 100%;
} */

.fact-item__progress-bar > h5{
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.pb-content-holder{
    position: relative;
    height: 5px;
    overflow: hidden;
    background-color: #f0f5ff;
}
.pb-content{
    height: 5px;
    max-width: 100%;
    overflow: hidden;
    background-color: #ff8a73;
}

/* ************************************** box-card *********************************** */

.box-card {
    padding: 4.375rem 0;
}
  
@media screen and (min-width: 992px) {
    .box-card {
      padding: 6rem 0;
    }
}
  
@media screen and (min-width: 768px) {
    .box-card--flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
}
  
  .box-card-item {
    text-align: center;
    padding: 1rem;
    margin: 2rem 0;
}
  
@media screen and (min-width: 768px) {
    .box-card-item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
    }
}
  
@media screen and (min-width: 992px) {
    .box-card-item {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
}
  
.box-card-item__img {
    margin-bottom: 1.875rem;
}
  
.box-card-item__img img {
    max-width: 100%;
    height: auto;
}
  
@media screen and (min-width: 992px) {
    .box-card-item__img {
      margin-bottom: 2.75rem;
    }
}
  
.box-card-item__body {
    padding: 0 10px;
}
  
.box-card__title {
    font-size: 1.375rem;
    font-weight: 600;
    color: #58468c;
    margin-bottom: 1.5rem;
}
  
@media screen and (min-width: 992px) {
    .box-card__title {
      margin: 2.125rem;
    }
}
  
.box-card__text {
    font-size: 1rem;
    font-weight: 300;
    color: #716c80;
}

/* *********************************** app-footer ***************************************** */

.app-footer{
    background-color: #343352;
    color: white;
}
.footer-container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.app-footer__about{}

