html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a, a:visited, a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 28px;
  font-size: 1rem;
  color: #716c80;
}

#myBtn {
  /* display: none; /* Hidden by default */
   position: fixed; /* Fixed/sticky position */
   bottom: 20px; /* Place the button at the bottom of the page */
   right: 30px; /* Place the button 30px from the right */
   z-index: 99; /* Make sure it does not overlap */
   border: none; /* Remove borders */
   outline: none; /* Remove outline */
   background-color: red; /* Set a background color */
   color: white; /* Text color */
   cursor: pointer; /* Add a mouse pointer on hover */
   padding: 15px; /* Some padding */
   border-radius: 10px; /* Rounded corners */
   font-size: 18px; /* Increase font size */
   opacity: 1;
 }
 
 #myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
 }

ul {
  list-style-type: none;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 2rem;
  background: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    position: unset;
    z-index: 1;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
}

.header__logo {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 auto;
}

.header__logo span {
  color: #007AF3;
}

.header__logo:hover {
  color: #ff8a73;
}

@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 992px) {
  .header__logo {
    font-size: 2rem;
    margin-right: 3rem;
  }
}

.header nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header nav {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header nav.show {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
}

.header__menu {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto 0 auto;
  }
}

.header__menu__item {
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-bottom: 1px solid #999;
}

.header__menu__item:last-child {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .header__menu__item {
    border-bottom: none;
    padding: 0 5px;
  }
}

@media screen and (min-width: 992px) {
  .header__menu__item {
    border-bottom: none;
    padding: 0 10px;
  }
}

.header__menu__link {
  color: #58468c;
  font-size: .91rem;
  text-transform: uppercase;
}

.header__menu__link:hover {
  color: #ff8a73;
}

@media screen and (min-width: 768px) {
  .header__menu__link {
    font-weight: 700;
  }
}

.header__mobile-menu {
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header__mobile-menu {
    display: none;
  }
}

.header__mobile-menu > span {
  display: block;
  background: #58468c;
  width: 17px;
  height: 3px;
}

.header__mobile-menu > span:not(:last-child) {
  margin-bottom: 3px;
}

.header__mobile-menu.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__mobile-menu.open > span:nth-child(2) {
  opacity: 0;
}

.header__mobile-menu.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__icon {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1rem;
  }
  .header__icon a {
    padding: 0 3px;
    font-size: 1.2rem;
    color: #58468c;
  }
  .header__icon a:hover {
    color: #ff8a73;
  }
}

@media screen and (min-width: 992px) {
  .header__icon {
    margin-left: 5rem;
  }
  .header__icon a {
    padding: 0 10px;
    font-size: 1.5rem;
  }
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  background-image: url(../images/197.png);
  height: 350px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 300px;
    padding: 0;
  }
}

.hero__title{
  padding-top: 2rem;
  color: white;
}

@media screen and (min-width: 768px) {
  .hero__title {
    padding-top: 0;
  }
}

.hero__text{
  width: 455.828px;
  color: white;
}

@media screen and (min-width: 768px) {
  .hero__text {
    width: 600px;
  }
}

.hero__btn > button {
  border-radius: 30px;
}

.taget {
  padding: 0;
}

.taget__icon{
  padding: 0;
  width: 30px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .taget__icon {
    margin-bottom: 0;
  }
}

.taget__icon > i {
  font-size: 30px;
  color: #5580ff;
}

.taget__content > h3{
  color: #58468c;
}
.taget__desc > p {
  color: #716c80;
}

.fact-item__title{
  position: relative;
}

.fact-item__img{
  margin: 0 auto;   
  width: 400px;
}

@media screen and (min-width: 768px) {
  .fact-item__img {
    margin-left: 50px;
  }
}

.fact-item__progress-bar > h5{
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.pb-content-holder{
  position: relative;
  height: 5px;
  overflow: hidden;
  background-color: #f0f5ff;
}

.pb-content{
  height: 5px;
  max-width: 100%;
  overflow: hidden;
  background-color: #ff8a73;
}

.box-card {
  padding: 4.375rem 0;
}

@media screen and (min-width: 992px) {
  .box-card {
    padding: 6rem 0;
  }
}

@media screen and (min-width: 768px) {
  .box-card--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.box-card-item {
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  .box-card-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (min-width: 992px) {
  .box-card-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.box-card-item__img {
  margin-bottom: 1.875rem;
}

.box-card-item__img img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  .box-card-item__img {
    margin-bottom: 2.75rem;
  }
}

.box-card-item__body {
  padding: 0 10px;
}

.box-card__title {
  font-size: 1.375rem;
  font-weight: 600;
  color: #58468c;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .box-card__title {
    margin: 2.125rem;
  }
}

.box-card__text {
  font-size: 1rem;
  font-weight: 300;
  color: #716c80;
}

.feature__row {
  margin: 0 0.9375rem;
  padding: 112px 0 0;
}

.feature__column__inner {
  padding: 0 15px;
}

.feature__item {
  padding: 33px 30px 50px 30px;
  text-align: center;
}

.feature__icon {
  text-align: center;
  cursor: pointer;
}

.feature__content {
  margin-top: 0.5625rem;
}

.feature__title {
  padding-top: 23px;
}

.feature__title a {
  font-size: 1.375rem;
  font-weight: 500;
  color: #58468C;
}

.feature__description {
  margin-top: 0.5625rem;
  font-weight: 300;
}

.image1--fixed {
  background-image: url("https://foton.qodeinteractive.com/wp-content/uploads/2018/06/home-1-img-3.jpg");
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

@media screen and (min-width: 992px) {
  .image1--fixed {
    background-size: unset;
  }
}

.advertisement {
  margin-bottom: 120px;
}

@media screen and (min-width: 1200px) {
  .advertisement {
    margin: 80px;
  }
}

.advertisement__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 1200px) {
  .advertisement__wrapper {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

.advertisement--left {
  width: 500px;
}

@media screen and (min-width: 1200px) {
  .advertisement--left {
    width: 394px;
    margin-left: 12rem;
  }
}

.advertisement--right {
  padding: 0 30px;
}

@media screen and (min-width: 1200px) {
  .advertisement--right {
    margin-top: 5rem;
    width: 455.828px;
  }
}

.advertisement__content {
  width: 100%;
  margin-top: 0;
  padding: 0 15px;
}

.advertisement__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.22em;
  color: #58468c;
}

.advertisement__title br {
  display: none;
}

@media screen and (min-width: 768px) {
  .advertisement__title {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .advertisement__title br {
    display: block;
  }
}

.advertisement__desc {
  font-size: 1.125rem;
  font-weight: 300;
  color: #716c80;
  line-height: 1.9375rem;
  margin: 17px 0;
}

@media screen and (min-width: 768px) {
  .advertisement__desc {
    font-size: 1.25rem;
  }
}

.advertisement__hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advertisement__hero__info {
  padding-left: 31px;
}

.advertisement__hero__title {
  color: #58468c;
}

.advertisement__hero__text {
  font-size: 0.6875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .125em;
}

.intergration {
  padding-bottom: 80px;
}

.intergration__inner {
  margin-top: 14px;
  padding-left: 15px;
}

.intergration__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.22em;
  color: #58468c;
}

@media screen and (min-width: 768px) {
  .intergration__title {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 992px) {
  .intergration__title {
    font-size: 2.6875rem;
  }
}

@media screen and (min-width: 1200px) {
  .intergration__title {
    font-size: 2.8125rem;
  }
}

.intergration__text {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.9375em;
  margin: 14px 0 0;
  color: #716c80;
}

@media screen and (min-width: 768px) {
  .intergration__text {
    line-height: 1.6em;
  }
}

.intergration__btn {
  padding: 15px 37px;
  color: white;
  background-color: #ff8a73;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: .125em;
  line-height: 40px;
  text-transform: uppercase;
  border-radius: 3em;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.intergration__btn:hover {
  -webkit-box-shadow: rgba(255, 138, 115, 0.5) 0 10px 25px 0;
          box-shadow: rgba(255, 138, 115, 0.5) 0 10px 25px 0;
  color: white;
}

.intergration__box {
  padding: 30px 0 30px 30px;
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 0 10px 55px 5px #bccdf5;
          box-shadow: 0 10px 55px 5px #bccdf5;
  border-radius: 8px;
}

.intergration__box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intergration__box__info {
  padding-left: 31px;
}

.intergration__box__title {
  text-align: left;
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2em;
  color: #58468c;
}

@media screen and (min-width: 768px) {
  .intergration__box__title {
    font-size: 1.375rem;
  }
}

.intergration__box__text {
  font-size: 0.6875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .125em;
  color: #716c80;
}

.footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  background-color: #343352;
}

.footer--pd {
  padding: 0 15px;
  margin-top: 30px;
}

@media screen and (min-width: 992px) {
  .footer--pd {
    margin-top: 0;
  }
}

.footer__inner {
  padding: 118px 0 125px;
  margin: 0 auto;
  width: 400px;
}

@media screen and (min-width: 768px) {
  .footer__inner {
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .footer__inner {
    width: 950px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__inner {
    width: 1100px;
  }
}

.footer__text {
  margin-top: 32px;
}

.footer__social-container {
  margin-top: 29px;
}

.footer__social-container a {
  font-size: 1rem;
  margin-right: 14px;
  color: #24242b;
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.footer__social-container a:hover {
  color: #ff8a73;
}

.footer__social-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
}

.footer__title {
  margin: 9px 0 22px;
  font-size: 1.125rem;
}

.footer__links {
  display: inline-block;
  color: white;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.footer__links span {
  display: inline-block;
  vertical-align: middle;
}

.footer__links:hover {
  color: #ff8a73;
}

.footer__bottom {
  background-color: #2d2d47;
}

.footer__bottom__copyright {
  font-size: 0.875rem;
}

.footer__bottom__copyright a {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.footer__bottom__copyright a:hover {
  color: #ff8a73;
}
/*# sourceMappingURL=style.css.map */